# Common Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scaling_topology

# Primary Database Connection Details
PRIMARY_HOST=localhost
PRIMARY_PORT=5432

# Replica Database Connection Details
REPLICA_HOST=localhost
REPLICA_PORT=5433

# Replication Connection Details
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replicator_password
